.item {
  list-style-type: none;
  margin: 0;
  padding: 0;
  flex-grow: 1;
  flex-shrink: 0;
  border: 1px solid #fff;
  width: 400px;
  height: 400px;
}

.link {
  box-sizing: border-box;
  transition: background 0.2s ease-in;
  background: rgba(255, 255, 255, 0);
  padding: 10px;
  display: block;
  height: 100%;
  text-align: center;
  text-decoration: none;
  color: #fff;

  &:hover {
    background: rgba(255, 255, 255, 0.5);
  }
}
